<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ojass20.nitjsr.in.ojass">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Utils.OjassApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_ojass"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleInstance"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ActivityZoomableImage"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".Activities.AboutActivity" android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Activities.FeedbackActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.BadgeCount"
            android:value="ENABLE" />

        <activity
            android:name=".Activities.WalkThroughActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SubEventActivity"
            android:label="@string/title_activity_sub_event"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.DeveloperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.TeamActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ItineraryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SponsorActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegistrationPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.GurugyanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>